extends layout

block content
  div.narrow
    h1= title
    p Capture the raw HTTP requests sent to a URL, so you can debug the stuff you're get from webhooks. Based on the 
      a(href='http://requestb.in', target='_blank') PostBin
      |  written in python. Made with 
      a(href='http://nodejs.org', target='_blank') node.js
      |  and 
      a(href='http://expressjs.com', target='_blank') express.js
      | . It's an more visually pleasing alternative for 
      code tcpdump -x
      | .
    p Each bin stores a maximum of 10 requests. 
    a.button(href='/inspect/'+newId) Create Bin

    if recentBins.length
      p
        h3 Recent Bins
        ul
          each recent in recentBins
            li
              a(href='/inspect/#{recent}') /#{recent}

    footer Created by 
      a(href='http://www.badassdon.com', target='_blank') badassdon
      | .
  
