doctype 5
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    #page
      block content
